{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "es6": true
  },
  "ecmaFeatures": {
    "restParams": true,
    "experimentalObjectRestSpread": true
  },
  "globals": {
    "__DEVELOPMENT__": false
  },
  "rules": {
    "comma-dangle": [0, "never"],
    "spaced-comment": [0, "always"],
    "object-curly-spacing": [0, "never"],
    "func-names": 0,
    "react/jsx-quotes": 0,
    "jsx-quotes": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-unused-expressions": 0,
    "no-undef": 1,
    "prefer-arrow-callback": [0, { "allowNamedFunctions": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"]}],
    "react/forbid-prop-types": [0, {"forbid": []}],
    "react/prefer-stateless-function": 0,
    "newline-after-import": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true}
    ]
  }
}
